.nav-bar {
  background-color: rgb(204, 78, 137);
  display: flex;
  padding: 1rem 0.5rem;
}

.nav-bar ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-title {
  color: #fff;
  font-size: 1.2rem;
  text-decoration: none;
}
